@model ERP_ANDERSON.ViewModel.FornecedorViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Cliente</h2>

@if (Model.PessoaFisica != null)
{
    @Html.Partial("PessoaFisicaDetails");
}

else
{
    @Html.Partial("PessoaJuridicaDetails");
}