@{
    ViewBag.Title = "Tabuada";
}

<h2>Tabuada</h2>

@{
    if (ViewBag.num == null)
    {
        <p>Nenhum parametro foi passado !!!</p>
    }
    else
    {
        int result;
        <table>
            <tr>
                @for (int i = 1; i <= 10; i++)
                {
                    result = ViewBag.num * i;
                    <td>@ViewBag.num * @i = @result</td>
                }
            </tr>
        </table>
    }
}